:root{
--accent-font-color: #005377ff;
--primary-color: #06a77dff;
--accent-color-one: #d5c67aff;
--secondary-color: #89608eff;
--accent-color-two: #f1a208ff;
max-width: 800px;
padding: 10px;
}
header{
    background-color: var(--accent-color-one);
    display: flex;
    align-items: center;
    border: 5px solid var(--accent-font-color);
    border-style: double;
    padding: 10px;
}
div{
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}
h2{
    border: 2px dotted var(--accent-color-two);
    padding: 15px;
    width: auto;

}
p{
    background-color: white;
    border: 4px solid var(--accent-color-one);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    color: black;
    grid-row: 3/4 ;
    grid-column: 1/6;
}
#name{
    background-color: var(--accent-color-two);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: dotted;
}
#senarios{
    background-color: var(--accent-font-color);
    color: var(--accent-color-one);
    
}
.colors{
    display: grid;
    grid-template-rows: 1fr 200px 1;
    background-color: white;
    border: 2px solid var(--accent-font-color);
    margin-bottom: 10px;
}   
.colors h2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: 1/1/2/6;
    background-color: var(--secondary-color);
}
h3{
    /* display: flex; */
    grid-template-rows: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2/3;
    padding: 5px;
}
#color-one{
    background-color: var(--accent-color-one);
}
#color-two{
    background-color: var(--accent-color-two);
}
#color-three{
    background-color: var(--accent-font-color);
    color: white;
}
#color-four{
    background-color: var(--primary-color);
}
#color-five{
    background-color: var(--secondary-color);
}
#typography{
    background-color: var(--accent-color-two);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: dotted;
}
#wireframe{
   background-color: var(--primary-color);
    
}

footer{
    background-color: var(--accent-font-color);
    color: var(--accent-color-one);
    padding: 10px;
}
footer p{
    background-color: var(--accent-font-color);
    color: var(--accent-color-one);
}