@media screen and (min-width: 550px) {
    #menu {
        /*display: none; */
        /* hide hamburger button */
    }

    body {
        /* display: grid; */
        max-width: 800px;
    }

    main {
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* display: grid; */
        /* max-width: 800px; */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        /* grid-template-rows: repeat(auto-fill, minmax(1fr,200px)); */

    }

    h2 {
        /* grid-row-start: 1; */
        grid-column: 1/4;
        text-align: center;
        background-color: var(--secondary-color);
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #temple-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* max-height: 500px; */
        /* grid-column: 1/4; */
        /*  display: flex; */
        /* flex-flow: row wrap;  */
        /* width: 33%;  */
        /* flex-wrap: wrap;  */
        /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
     }
     .templestyle{
        background-color: var(--accent-color);
        grid-column: 1/4;
    
    
        
    }
    #card {
        display: flex;
        background-color: var(--accent-color);
        flex-wrap: wrap;
    }
    div{
        display: flex;
        max-width: 800px;
        border: none;
    }
    /* figure {
        /* grid-row-start: 2; */
        min-width: 100px;
        
        height: auto;
    } */

    header {
        align-items: center;
    }

    #menu {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-right: .5em;
        font-size: 2em;
        display: flex;
        justify-content: center;
    }

    #menu::before {
        content: unset;
    }

    .navigation {
        display: inherit;
        background-color: var(--secondary-accent-color);
    }

    #menu.open {
        flex-direction: unset;
    }

    #menu.open::before {
        content: unset;
    }

    .navigation.open {
        display: inherit;
        flex-direction: unset;
    }
}