body {
    display: grid;
    grid-template-rows: 200px 500px 200px;
    
    width: auto;
}

header {
    grid-row: 1;
    background-color: darkslategrey;
    
    
    
}

h1 {
    margin-bottom: 88px;
    color: white;
}

nav {
    
    background-color: white;
    align-items: end;
    padding: 2px;
}

ul {
    display: flex;
    justify-content: space-around;
    
    text-decoration: none;
    color: white;
}   

main {

    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content {

    background-color: lightgray;
}

.aside {
    background-color: aliceblue;
}

footer {
    grid-row: 3;
    background-color: darkslategrey;
    color: white;
}