:root {
    --secondaryColor: #e6c229ff;
    --secondaryTextColor: #f17105ff;
    --mainColor: #d11149ff;
    --primaryTextColor: #6610f2ff;
    --accentColor: #1a8fe3ff;
    --primaryFont: montserrat-fancy, Arial,
        sans-serif;
    --secondaryFont: "Edu QLD Beginner",
        Geneva, serif;
}

/* .edu-qld-beginner-bold {
    font-family: "Edu QLD Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; }

.montserrat-fancy {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; } */
header {
    background-color: var(--mainColor);
    color: white;
    font: var(--secondaryFont);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondaryColor);
    padding: 15px;
}

nav a:hover {
    border-style: double;
    color: var(--accentColor);
}

a {
    /* justify-items: space-around; */
}

main {
    max-width: 800px;
    display: grid;
    grid-template-columns: 66% 34%;
}

section {
    border-style: double;
    border-color: var(--accentColor);
    border-radius: 15px;
    margin: 10px;
}

h2 {
    background-color: var(--accentColor);
    margin: var--accentColor, 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    height: 100%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

h3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.intro {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

figure {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0;
}

.country {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin: 0 0 16px 16px;
}

.self {
    min-width: 90px;
    max-width: 110px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.flag {
    min-width: 80px;
    max-width: 120px;
    height: auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10% 40% 10% 40%;
}