:root {
    --secondary-color: #e6c229ff;
    --secondary-text-color: #f17105ff;
    --main-color: #d11149ff;
    --primary-text-color: #6610f2ff;
    --accent-color: #1a8fe3ff;
    --primary-font: montserrat-fancy, Arial,
        sans-serif;
    --secondary-font: "Edu QLD Beginner",
        Geneva, serif;
    max-width: 800px;
}

/* .edu-qld-beginner-bold {
    font-family: "Edu QLD Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; }

.montserrat-fancy {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; } */
header {
    background-color: var(--main-color);
    color: white;
    font: var(--secondary-font);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 15px;
    
}

nav a {
    border-style: double;
    border-color: transparent;
    text-decoration: none;
}

nav a:hover {
    border-style: double;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

a {
    /* justify-items: space-around; */
}

main {
    max-width: 800px;
    display: grid;
    grid-template-columns: 66% 34%;
}

section {
    border-style: double;
    border-color: var(--accent-color);
    border-radius: 15px;
    margin: 10px;
    height: auto;
}

h2 {
    background-color: var(--accent-color);
    margin: 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    height: 100%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

h3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.intro {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

figure {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0;
}

.country {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin: 0 0 16px 16px;
}

.self {
    min-width: 90px;
    max-width: 110px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.flag {
    min-width: 80px;
    max-width: 120px;
    height: auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10% 40% 10% 40%;
}
/* ul{
    border-color: var(--secondary-text-color);
    border-style: double;
    height: auto;
    width: auto;

} */
li{
    align-items: center;
    
    text-decoration: underline;
    padding: 5px;
    
}
footer{
    border-style: double;
    border-color: var(--primary-text-color);
    border-radius: 15px;
    text-align: center;
    background-color: var(--secondary-text-color);
}