:root{
--secondary-accent-color: #e09891ff;
--primary-color: #cb769eff;
--secondary-color: #7d82b8ff;
--primary-font: montserrat-fancy, Arial,
        sans-serif;
--secondary-font: "Edu QLD Beginner",
        Geneva, serif;

}

header, footer{
    background-color: var(--secondary-color);
    padding:10px;
    font-family: var(--primary-font);
}
fieldset{
    border: 2px solid var(--primary-color);
}
label, div{
    display: block;
    padding-top: 2px;

}
#productName, #instalDate, #review, #name{
    padding: 3px;
    display: flex;
    margin: 5px;
    font-family: var(--secondary-font);
}
input{
    padding: 10px;
}