:root{
--secondary-accent-color: #e09891ff;
--primary-color: #cb769eff;
--secondary-color: #7d82b8ff;
--primary-font: montserrat-fancy, Arial,
        sans-serif;
--secondary-font: "Edu QLD Beginner",
        Geneva, serif;

}