body {
    display: grid;
    grid-template-rows: 200px 500px 200px;

    width: auto;
}

header {
    grid-row: 1;
    background-color: darkslategrey;



}

h1 {
    margin-bottom: 100px;
    color: white;
}

nav {
    display: flex;
    background-color: white;
    align-items: end;
    justify-content: space-around;
    padding: 12px;
}

a {
    /* display: flex; */
    /* justify-items: space-around; */

    text-decoration: none;
    /* color: white; */
}

main {

    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content {

    background-color: lightgray;
}

.aside {
    background-color: aliceblue;
}

footer {
    grid-row: 3;
    background-color: darkslategrey;
    color: white;
}