:root {
--accent-one: #8a804bff;
--accent-two: #c3e2fcff;
--primary-color: #d8c0c6ff;
--font-color: #343e3dff;
--secondary-color: #d6e4efff;
--primary-font: montserrat-fancy, Arial,
        sans-serif;
--secondary-font: "Edu QLD Beginner",
        Geneva, serif;
max-width: 1000px;
}