@media screen and (min-width: 550px) {
    main {
        position: relative;
    }

    .data {
        position: absolute;
        /* display: left; */
        top: 0px;
    }

    .weather {
        position: absolute;
       bottom:  30px;
       right: 0;
       width: 150px;
       
    }
   img{
    width: 100%;
   }
    
    .weatherh2::after {
        content: url('../images/cloud-drizzle.svg');
    }
    .weather img{
        display: none;
    }

}