:root {
--accent-one: #8a804bff;
--accent-two: #c3e2fcff;
--primary-color: #d8c0c6ff;
--font-color: #343e3dff;
--secondary-color: #d6e4efff;
--primary-font: montserrat-fancy, Arial,
        sans-serif;
--secondary-font: "Edu QLD Beginner",
        Geneva, serif;
max-width: 1000px;
color: var(--font-color);
}
header{
    background-color: var(--primary-color);
   /* align-content: center; */
    /* display: flex; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1{
    /* align-items: center */
    color: var(--font-color);
   
}
main{
    
}
picture{
    width: 100%;
    align-content: center;
    border-width: 2px;
    border-style: solid;
    border-color:  var(--accent-two);
}
.data{
    background-color: var(--accent-two);
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-one);
}
dl{
    display: inline-block;
    background-color: var(--accent-two);
    padding: 15px;
    border-width: 2px;
        border-style: solid;
        border-color: var(--accent-one);
}
dt{
    float: left;
    color: var(--font-color);
    font-family: var(--primary-font)
       

}
dt::after {
    content: ":";
    align-items: center;
    
}
dd{
    /* float: right; */
    color: var(--font-color);
}
.weather{
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-two);
    background-color: var(--accent-one);
    color: white;
}
.weather img{
    width: 100px;
}
footer{
    background-color: var(--primary-color);
    text-align: center;
}