@media screen and (min-width: 600px) {
    picture {
        position: relative;
    }

    .data {
        position: absolute;
        /* display: left; */

    }

    .weather {
        position: absolute;
        /* display: right; */
    }

    ::weather {}


}