:root {
--accent-color: #eac435ff;
--font-color: #231f20ff;
--secondary-accent-color: #e09891ff;
--primary-color: #cb769eff;
--secondary-color: #7d82b8ff;
--primary-font: montserrat-fancy, Arial,
        sans-serif;
    --secondary-font: "Edu QLD Beginner",
        Geneva, serif;
    max-width: 800px;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
    
    list-style-type: none;

}
a {
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover{
    color: var(--secondary-color);


}

main{
    max-width: 800px;
    margin:0 auto;
    display: grid;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}

figure{
    display: grid;
    grid-template-columns: fr;
    min-width: 150px;
    max-width: auto;
}