1️⃣ @media screen and (min-width: 500px){
    #menu {
            display: none;
            /* hide hamburger button */
        }
   
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    figure{
        min-width: 100px;
        max-width: 1fr;
        height: auto;
    }

 
}