@media screen and (min-width: 600px){
    #menu {
            display: none;
            /* hide hamburger button */
        }
   
    body{
        display: grid;

        

    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    h2{
        grid-row-start: 1;
    }
    figure{
        /* grid-row-start: 2; */
        min-width: 100px;
        max-width: 1fr;
        height: auto;
    }

 
}