body{
    font-family: 'Roboto', Arial, sans-serif;
}
header main footer{
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border-style: 1px dotted #bbb;
    padding: 5px;
    background-color: cornsilk;
}
main{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
}
section{
    padding: 2px;
    background-color: beige;
}